<div class="flex justify-center items-center min-h-screen">
  <form [formGroup]="form" (ngSubmit)="onClickSubmit()"
    class="login-form shadow-xl space-y-6 max-w-md">
    <h1 class="text-2xl">Bem-vindo de volta</h1>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="email.hasError('required') || email.hasError('email')">
        {{ email.hasError('required') ? "O campo e-mail é obrigatório" : "E-mail inválido" }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" [type]="inputType" />
      <mat-error *ngIf="password.hasError('required')">
        O campo senha é obrigatório
      </mat-error>
    </mat-form-field>

    <button type="submit" [disabled]="!form.valid"
      class="green-btn text-lg w-full">
      Entrar
    </button>
  </form>
</div>