<div class="flex justify-center items-center min-h-screen">
  <form [formGroup]="form" (ngSubmit)="onClickSubmit()" class="login-form shadow-2xl space-y-6">
    <p class="form-title">Bem-vindo de volta</p>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password">
    </mat-form-field>

    <button type="submit" [disabled]="!form.valid" class="form-button bg-[#199274] rounded-xl hover:bg-[#2da88a]">
      Entrar
    </button>
  </form>
</div>