.login-form {
  background-color: #4d4d4d;
  padding: 32px;
  border-radius: 16px;
  width: 100%;
  max-width: 28rem
    /*448px*/
}

.form-title {
  font-size: 30px;
  line-height: 2rem
    /* 32px */
  ;
  font-size: 24px;
  color: #ECECF1;
  font-weight: 700;
  text-align: center;
}

.form-button {
  color: white;
  padding-top: 14px;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}