table {
  th {
    color: #FFFFFF;
    background-color: #2E2E2E;
  }

  tr {
    cursor: pointer;

    &.row-is-clicked,
    &:hover {
      background-color: #ebebeb;

      td {
        font-weight: 500;
      }
    }
  }
}