table {
  tr {
    th {
      color: #212121;
      background-color: #dfdfdf;
    }
  }
}

.mat-mdc-table {
  tr {
    &.row-is-clicked,
    &:hover {
      background-color: #ebebeb;

      td {
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}