@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.mdc-notched-outline__notch {
  border-right: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #d8d8d8;
}

mat-card {
  &.container {
    border-radius: 10px !important;
  }

  .mat-mdc-card-header {
    border: none;
    margin-bottom: 10px;

    mat-card-title {
      color: #212121
    }
  }
}

mat-form-field {
  div.mat-mdc-text-field-wrapper {
    background-color: #FFFFFF;
  }

  label {
    color: #757575 !important;
  }
}

button { 
  &:disabled {
    opacity: 70%;
    cursor: not-allowed;
  }
}

button, a {
  &.green-btn {
    background-color: #1DB954;
    border-radius: 0.5rem;
    color: #ffffff;
		font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

		&:disabled{
			opacity: 0.5;
		}

    &:hover {
      background-color: #00ca5b;
    }
  }
}

/* Change the mat-form-field border focused color */
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #575757 !important;
}

/* 
Cor / Função        HEX       Descrição do uso
------------------------------------------------------------
Fundo principal     #FFFFFF   Fundo base branco
Painéis/Cartões     #F5F5F5   Seções destacadas, mas claras
Texto primário      #212121   Preto quase puro para legibilidade
Texto secundário    #757575   Cinza discreto para descrições
Verde energia       #1DB954   Ação positiva, confirmações
Vermelho esforço    #E53935   Erros, alertas críticos
Amarelo alerta      #FBC02D   Avisos, cautela
Cinza neutro        #E0E0E0   Bordas, divisores sutis
Azul foco           #1976D2   Elementos ativos, links, destaques
*/